@media (max-width:900px){
	#Cabecera{
		height: 150px;
		text-align: center;
	}
	.logo{
		width: 100%;
		height: 30;
		padding-top: 20;
		text-align: center;
	}
	nav{
		padding-top: 0;
		height: 150px;
		float: none;
		text-align: center;
	}
	nav ul{
		padding-top: 80px;
	}
	.cont{
		width: 50%;
		margin: auto;
		text-align: center;
	}
	.Galeria{
		height: 2050px;
	}
}

@media (max-width:880px){
	.Galeria{
		float: none;
	}
	.Responsive{
		text-align: center;
	}
}

@media (min-width:900px) and (max-width:1139px){
	.Galeria{
		height: 1050px;
	}
}



@media (max-width:900px){
	footer{
		height: 1100px;
		margin: auto;
	}
	
	.row1, .row2, .row3, .row4{
		padding-top: 20px;
		padding-left: 10px;
		
	}
	
	.Cont{
		width: 55%;
		margin: auto;
	}
	
	.Columnas{
		display: flex;
		flex-direction: column;
		margin: auto;
	}
}

@media (max-width: 778px){
	nav ul li{
		float: right;
		padding-top: 5px;
		padding-right: 5px;
	}
	nav ul li a{
		text-align: center;
		padding-left: 0;
	}
}

@media (max-width:319px){
	nav ul li{
		padding-top: 30px;
	}
	footer{
		height: 770px; 
	}
}

@media (min-width:320px) and (max-width:559px){
	.Galeria{
		height: 1200px;
	}
	.Responsive{
		padding-left: 0;
	}
	.Cont{
		width: 90%;
	}
}
@media (max-width:320px){
	.Columnas p{
		padding-left: 0;
	}
}
@media (max-width: 360px){
	#Cabecera{
		height: 250px;
	}
} 


@media (min-width:559) and (max-width:650){
	footer{
		height: 1500px;
	}
}

@media (max-width: 559px){
	footer{
		height: 900px;
	}
}


@media and (max-width: 718px){
	footer{
		height: 1100px;
	}
}

@media (max-width: 440px){
	footer{
		height: 1100px;
	}
}